h2 kmom10

a(href='https://github.com/kundkingan/booking-system') Github

h5 Krav 4

p Jag har gett mig på krav 4 att skriva en så bra Readme som möjligt. Jag har försökt göra så att användaren kan enkelt och smidigt klona ner projektet och kicka igång det själv. Antingen för att bara testa det eller ifall man vill utveckla..

h5 Krav 5 

h6 Driftsättning live

a(href='https://booking-system-dbwebb.herokuapp.com') Booking-system live

p Jag har lagt upp mitt projekt på heroku så det körs live där hela tiden. Det var inte så svårt att verkligen få upp det så det funkade riktigt. Dem har rätt bra guide på hur man ska göra för diverse projekt. Speciellt med express och angular så är det även väldigt enkelt att gå från utveckling till produktion då man så enkelt som bara skriver 'ng build --prod' så får man fram en mapp med den kompilerade koden för frontenden. För att få det att funka på heroku så la jag till ett kommando i package.json "postinstall" som bygger mitt projekt sen så använde jag deras github deploy som tar mitt projekt från github och kör igenom det med install, postinstall och sen start. Det är sjukt smidigt, men i början så var det lite fel då den ville att olika paket skulle vara i dev dependencies istället för dependencies. Men det var enkla fixar och sen funkade det fint.

h6 God kodkvalite && Hög kodtäckning

p Jag har försökt få så bra kodkvalite som möjligt samt ha så god kodtäckning som möjligt. Enligt codeclimate så uppnår jag iallefall ett A samt på scrutinizer når jag upp till 9.95. För kodtäckning så har jag iallefall 100% på codecov samt 9.95 på scrutinzer.

h6 Angular

p Jag har använt mig utav den senate version av Angular som använder Typescript för att utveckla min frontend och Express för backend. Valet att använda Angular är rätt simpelt då jag sedan tidigare har använt mig av det för olika projekt och för att jag tycker det är väldigt smidigt att använda för att göra allt från små till stora projekt. Då Angular använder Typescript som bas så tycker jag även det är mycket enklare att använda än ren Javascript. Då Typescript är mer strict jämfört med Javascript samt så liknar det Java rätt mycket. Själv är jag inget stort fan av Java men med just Typescript så tycker jag att det är en mellanting mellan Javascript och Java. Vilket gör att jag verkligen gillar kombination utav Angular och Typescript.

h6 Firebase

p Användingen av Firebase är för att kunna logga in användare med email och password samt spara deras bokningar i deras databas. Valet av Firebase är enkelt då jag tycker det är sjukt smidigt att använda då dem erbjuder många features så att man slipper att meka med det själv. Ett exemple är inloggningssystem då Firebase erbjuder inloggning med email/password eller via olika sociala medie appar som facebook etc. Det som gör det lite jobbigt med firebase var dock att jag ville köra all logik via min server och då så försvinner den sessionen man får då man loggar in så att man har tillgång till databas osv. Så jag fick gör min egna "session" så jag skickar uid och id till användaren som sparar det i sessionen och skickar med det till servern varje gång man frågar efter något. Det var lite mekigt att få det och funka då jag fick ändra min modul för att få den att retunera uid också. Men det gick till slut.

h5 Från kursmoment till projekt

p Från då man fick reda på att man ska börja bygga sitt projekt så valde jag från början att iallefall bestämma mig för att använda Angular och Express. Så under kursmomenten så implementerade jag det man skulle göra och fortsatte med det under projektet. Det som ändrades under projektet var mest att jag fick ändra min modul lite för att den skulle passa in i mitt projekt. Men sedan start så har jag ändå haft en fast ide om vad jag skulle göra.


h5 Allmänt

p Projektet var inte alls svårt att genomföra då kodningen var rätt simple. Samt så fanns det inga krav på att projektet ska kunna göra si eller så vilket även gjorde att kodningen blev enkel. Jag har ju jobbat med Angular och Express sedan tidigare det som var nytt var mest Firebase. Men det var inga konstigheter med det då det fanns sjukt bra guider samt docs som man kolla på. Mesta tiden jag la på projektet var under kursmomenten, tiden som jag spenderade under projekt tiden var inte alls lika mycket. Då all grund var bygg från kursmomenten så var det mest detaljer som skulle fixas under projekttiden. Då det inte var några optionella krav som krävde riktig kodnings så tycker jag att det var ett väldigt enkelt projekt, nästan för enkelt. Det är inte alls svårt att dra ihop något med en database, realtime och en egen modul. För mig är det inte det iallefall, det svåra är väl att komma på vad man ska göra isåfall.

h5 Tankar om kursen

p Jag tycker att det har varit en helt okej kurs. Hade höga förhoppningar innan den drog igång men sen under kursens gång så sjönk det rätt snabbt. Då kursen inte var färdig än så kunde man inte göra mer än max 1 kursmoment i veckan, vilket jag tycker är rätt segt ifall man har tid att göra mer och vilja att verkligen fortsätta lära sig mer. Samt att när man får reda på att man ska bygga något projekt vid sidan om från kursmoment 3 till 6 och att man ska använda det som grund till projektet men man kan inte gå in kursmoment 10 och kolla vad som krävs. Det gör att kursen verkligen få mindre betyg, då man var helt förvirrad från kursmoment 3 till 6 och inte visste vad man skulle göra för projekt. Förstår att kursen är ny men kravspecen för projektet skulle ha varit färdig då man fick reda på detta i kursmoment 3. Rättningen har även varit rätt seg och det borde finnas mer krav på hur ens github sida bör se ut från början av kursen så att rättarna har det enklare att lista ut hur alla projekt funkar osv. Kursen får 4 av 10 av mig. Rekommenderar kursen då jag tror den kommer förbättras.