
block text1
	h2 kmom01
	h5 Berätta utförligt om din syn på Express och Pug och hur de samverkar. Relatera till andra ramverk du jobbat med. Lyft fram de fördelar och eventuellt nackdelar du finner, eller bara notera skillnader och likheter.
	p Express är något jag har arbetat med förut i olika projekt och tycker att det är väldigt bra ramverk, extra plus är att man kan generera en grund struktur så man har en grund att starta på då det är lite ansträngande om man ska börja från grunden. Angående Pug så har jag aldrig hört talas om det eller använt det, men jag tycker det var helt okej. Det är väldigt smidigt och det samverkar riktigt bra med Express tycker jag. Under den senaste tiden har jag arbetat väldigt mycket med Angular senaste ramverk, som använder TypeScript. Det är inte jätte likt Express och Pug skulle jag säga. 
	p Pug är bra och smidigt, men det som är lite jobbigt är om man ska kopiera in kod från t.ex boostrap eller liknande och då får man skriva om den koden till Pug kod. Vilket är den stora nackdelen som jag kan tycka. Samt så försökte jag dynamiskt inkludera filer med "include" men det funkade inte och det är lite segt. Med Express så har jag inga nackdelar precis, tycker det är bra.

	h5 Berätta om din katalogstruktur och hur du organiserade din kod, hur tänkte du?
	p Jag körde på Express autogenerering av en "app", så att man slipper bygga grunden och istället utgå från det man får och ändra därifrån istället. Tycker det är mycket enklare så man inte glömmer något på vägen då man bygger allt själv. Sen i "views" så tänkte jag att varje kursmoment skulle ha en egen fil, så det blir lättare att se vad man skriver istället för att ha allt i ett.

	h5 Använde du någon form av scaffolding som Express erbjuder?
	p Ja det gjorde jag.

	h5 Jobbar du med Markdown för innehållet, eller annat liknande?
	p Nej, använde bara Pug för innehållet. Inget jätte stort fan av Markdown så jag använder inte det.


