h2 kmom02
h5 Har du jobbat med Docker eller andra virtualiseringstekniker innan? 
	
p Jag har inte jobbat med Docker inte. Fick lite problem då jag installerade Docker på min burk, då jag kör Windows 10 Home så saknar man tydligen Hyper-V. Så jag försökte ta mig över till Windows 10 Pro istället som då har Hyper-V aktiverat, men det gick och problemet som kom då var att Windows 10 behöver aktiveras och jag hade ingen riktig kod till det. Så det slutade med att jag fick sitta och hitta lösning på hur jag kommer tillbaka till min aktiverade version. Men det löste sig och jag valde att köra Docker i en VM miljö istället då jag testade även Docker toolbox som är till för dem utan Hypver-V, men den funkade inte lika bra som i en VM. Så för tillfället kör jag i en VM och jag tänkte även fixa ubuntu till min laptop så det blir enklare och köra Docker, så att man slipper alla problem som kommer med Windows :).

h5 Hur ser du på möjligheterna att använda dig av Docker för att jobba med tester av ditt repo?

p Det känns bra att få ha lärt sig hur Docker funkar lite grundläggande och har märkt att man kan göra sjukt mycke grejer med just Docker. Det är sjukt smidigt att ha det uppsatt i sitt repo, så ifall man bytar miljö så blir det bara och starta upp Docker kontainern.

h5 Gick allt smidigt eller stötte du på problem?

p Stötte på lite problem då jag kollade lite extra på Dockerfile samt att göra egna images. Satt lite extra med att få Node kontainers att funka, då det inte funkade samt så följde jag några guider som hade med Dockerfile som jag inte hänge med riktigt på i början. Så från de felen här så har jag lärt mig mer om Docker och Dockerfile, vilket är positivt i slutändan men inte när man inte fattar vad felet är :)

h5 Skapade du din egen image, berätta om den?

p Jag gjorde en egen image, men hade inte orken eller kraften att lägga upp det.
