h2 kmom06
h5 Reflektera över vikten av infrastruktur för moduler för ett programmeringsspråk.

p Det är viktigt med en bra infrastruktur. Skulle den vara dålig från början så kan det sluta med att det inte går så bra.

h5 Vill du ge dig på att förklara att just npm är den tjänsten som växt snabbast av de modulerkataloger som presenteras på webbplatsen “Module Counts”?

p Ja, det beror väl på att javascript används mycket mer nu till att göra andra saker än bara design. Samt att javascript har blivit allmänt bättre och har fått lite mer struktur i sig. Nodejs spelar säkert också en stor roll till att det växer snabbt.

h5 Reflektera över hur arbetet gick att välja, separera, publisera och sedan åter integrera module i din applikation.

p Det var lite "svårt" att hitta vad man skulle kunna göra till en modul av sin kod. Det fanns saker man kunde välja på, men jag skulle behöva ändra på koden kanske i senare tillfälle under projektets gång. Så jag valde att flytta ut min login med firebase till en egen modul som bara är relaterad till login. Det var inte svårt eller jobbigt att separera koden utan var faktiskt riktigt enkelt. Samt att publisera modulen var också super enkelt och tog max 1 min. Integrationen av modulen i applikation krävde bara lite ändringar i koden och sen så funkade det. Fick dock ändra lite i modulen så man kan skicka med ett namn till firebase instansen, då jag behöver två instanser i min applikation för att kunna använda modulen. Men annars så gick det jättebra.

h5 Sista uppgiften om att dokumentera och färdigställa redovisa-sidan, tog det mycket tid eller hade du allt klart?

p Det tog inte så lång tid. Allt fanns på plats så det var bara o skriva lite så var det klart.

