h2 kmom04

h5 Är du ny på realtidsprogrammering eller har du gjort liknande tidigare?

p Jag har arbetat med realtidsprogrammering innan i en JavaScript kurs. Där gjorde vi också en chatt. Så det var inga svårigheter när jag gjorde chatt uppgiften. Det var lite repetion bara men annars tyckte jag det flöt på bra.

h5 Hur gick det att jobba med konceptet realtidsprogrammering i webben, några reflektioner?

p Som sagt så gick allt bra. Tänkte att jag skulle använda mig av npm modulen WebSocket instället för att använda typ Socket.io. Då jag ville använda mig direkt av WebSocket modulen och inte använda ett extra lager som Socket.io gör.

h5 Berätta om din chatt som du integrerade i redovisa-sidan.

p Jag gjorde en väldigt simple chatt. Jag skulle säga att jag la mest vikt på hur det såg ut än hur det fungerade. Jag valde att skicka JSON objekt mellan klienten och servern. Då objektet innehöll "nickname" och "message" så att man ska kunna se vem som skriver vad.

h5 Berätta om den realtidsfunktionalitet du väljer att integrera i din klient/server applikation.

p I min applikation så jag för tillfället bara gjort så att jag har API:et redo för att kunna bygga vidare på det senare i projektet. Då jag använder Angular så ville jag lära mig hur man gör för att implementera klient sidan för Angular. Det var relativt simplet att förstå och implementera så det var gött. Jag gjorde en simple implementation för att se hur det funkar och en potential funktionalitet för att använda realtidsfunktionalitet. Det var att göra så att man ser hur många användare som är inne på sidan samtidigt. Inget svårt, men det var något som var enkelt och göra då jag behöver fixa andra funktionaliteter innan jag ger mig på realtidsfunktionaliteten igen. Tanken är att man ska kunna se vad andra gör på boknings sidan då man ska boka en tid, för skojs skull. Men då firebase är en realtids database så är den funktionaliteten redan implementerad från deras sida, så jag får avakta med realtidsfunktionaliteten till efter jag har fixat firebase API:et för att se hur det funkar.