extends layout

block content
	h5 PA1442 Web-based frameworks 2
	div(class='divider')
	div(class='section')
		p The course Web-based framework 2, a.k.a. framework2, teaches development, testing and deployment of applications and servers where most different frameworks are part of the applications and services to create a total solution.
	div(class='divider')
	div(class='section')
		h5(class='center')
			a(href='https://github.com/kundkingan/ramverk2') Github Repo


	div(class='about-img')
		img(src='/img/js-frameworks.jpg')