extends layout

block content
	h5(class='center') Booking-System
	br
	div(class='divider')
	div(class='section')
		p Upcoming demo page for a booking system built with Angular(5), Express, Node and Firebase
	div(class='divider')
	div(class='section')
		h5(class='center')
			a(href='https://github.com/kundkingan/booking-system') Booking System - Github
