extends layout

block content
	h5(class='center') Booking-System
	br
	div(class='divider')
	div(class='section')
		p Upcoming demo page for a booking system built with Angular(5), Express, Node and Firebase
	div(class='divider')
	div(class='section')
		h5 Realtime functionality
		p The application will use Realtime Functionality to send messages between the client and the server. Currently there is only one functionality implemented and that is to see how many users that is currently "signed in". 
	div(class='divider')
	div(class='section')
		h5(class='center')
			a(href='https://github.com/kundkingan/booking-system') Booking System - Github
