extends layout

block content
	h3 Hello!
	p My name is David Andersson and I study my final year at Blekinge Institute of Technology. This is my me-page for the course PA1442 Web-based Frameworks 2.

	div(class='front-img')
		img(src="/img/node.png")