extends layout

block content
	
	include reports/kmom01
	div(class='divider')
	div(class='section')
	include reports/kmom02
	div(class='divider')
	div(class='section')
	include reports/kmom03
	div(class='divider')
	div(class='section')
	include reports/kmom04
	div(class='divider')
	div(class='section')
	include reports/kmom05
	div(class='divider')
	div(class='section')
	include reports/kmom06
	div(class='divider')
	div(class='section')
	include reports/kmom10
	div(class='divider')


