nav
	div(class='nav-wrapper')
		a(href='/', class='brand-logo') Framework 2
		a(href='/', data-activates='mobile-demo', class='button-collapse')
			i(class='material-icons') menu
		ul(class='right hide-on-med-and-down')
			include navbar-links
		ul(id='mobile-demo', class='side-nav')
			include navbar-links
			
